
@{
    ViewBag.Title = "SuccessfullyUpdated";
}

@{ Layout = "~/Views/Shared/_ManagerLayout.cshtml"; }

<h2>@ViewBag.Message</h2>

@Html.ActionLink("Back to ManagerHome", "ManagerHomePage", "Manager", null, null)



