

@*@{ Layout = "~/Views/Shared/_Signout.cshtml"; }*@

    <br/>
<br/>

    <h3 style="color:green"> You are Successfully Logged Out of your Account !</h3>
<br/>
<br/>
    <div>
        @Html.ActionLink("Back to Home", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
    </div>



